@use "../abstracts/animations" as ani;
@use "../abstracts/" as *;

.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include ani.home-animation(form-load);
}

form-search {
  display: flex;
}

.form-search-home {
  display: flex;
  margin-top: 1.5rem;
  font-size: 1.35rem;

  input {
    font-family: $main-font;
    border: 1px solid rgba(83, 83, 83, 0.9);
    border-radius: 8px;
    margin-right: 1.25rem;
    padding: 0.25rem 1rem 0.25rem 0.85rem;
    width: 28rem;
  }

  input:focus {
    outline: none;
    border: 1px solid #953aa1;
    -webkit-box-shadow: 0px 3px 6px 1px #953aa1;
    box-shadow: 0px 3px 6px 1px #953aa1;
  }

  .button {
    width: 5.5rem;
    height: 2.65rem;
    cursor: pointer;
    background-color: #bd55ca;
    border: 1px solid #bd63c9;
    border-radius: 6px;
    padding: 0.25rem 2rem;
    -webkit-box-shadow: 0px 3px 6px 1px #953aa1cc;
    box-shadow: 0px 3px 6px 1px #953aa1cc;
    transition: all ease-in-out 0.1s;
  }

  .button:hover {
    border-color: $main-text-red;
    background-color: $main-text-red;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(255, 0, 149, 0.8);
    box-shadow: 0px 3px 6px 1px rgba(255, 0, 149, 0.8);
    transform: scale(1.025);
  }

  .button:focus {
    transition: all 0.1s;
    outline: 0;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  }
  .search-icon {
    color: white;
    padding-top: 0.2rem;
    transform: scale(2);
  }
}

.form-search-browse {
  display: flex;
  font-size: 1.1rem;
  color: black;

  h3 {
    font-family: $main-font;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  input {
    font-family: $main-font;
    border: 1px solid rgba(83, 83, 83, 0.9);
    border-right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0.25rem 1rem 0.25rem 0.85rem;
    width: clamp(12rem, 40vw, 23rem);
  }

  .input-error {
    border: 2px solid red;
    border-right: 0;
  }

  button {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(83, 83, 83, 0.9);
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-right: 0.6rem;
  }

  input,
  button {
    outline: 0;
  }

  .button-error {
    border: 2px solid red;
    border-left: 0;
  }

  .button-loader {
    width: 2.75rem;
    height: 2.25rem;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  .circle-loader div,
  .circle-loader div:nth-of-type(2) {
    border-top-color: rgb(255, 0, 149);
    border-bottom-color: rgb(255, 0, 149);
  }

  .search-icon {
    color: rgb(141, 47, 170);
    padding: 0.2rem 0 0 0;
    transform: scale(1.75);
  }

  .search-icon:hover {
    color: rgb(255, 0, 149);
  }

  .search-icon-error {
    color: red;
  }

  .search-icon:active {
    color: rgba(255, 0, 149, 0.575);
  }
}

.button-loader {
  width: 5.5rem;
  height: 2.65rem;
  background-color: black;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 6px;
  transition: all ease-in-out 0.1s;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.8);
}

@keyframes form-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
