@use "../abstracts" as *;

.nav {
  display: grid;
  color: #ececec;
  background-color: $navbar-bg;
  font-size: 1.25rem;

  h2 {
    align-self: center;
    color: white;
    font-family: $secondary-font;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 300;
    text-transform: inherit;
    margin: 0.25rem 0 0 1rem;
  }

  h2 > a {
    transition: color 0.35s ease-in-out;
  }

  h2 > a:hover {
    color: black;
  }

  h2 > a:active {
    color: hotpink;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out 0.12s;
  }
}

.nav-home-container {
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  animation: nav-load 0.75s ease-in;

  ul {
    @include flex-row;
    justify-content: center;
    margin-right: 0.75rem;
  }

  li {
    font-size: clamp(1rem, 1.75vw, 2rem);
    margin: 0 clamp(0.75rem, 3vw, 1.5rem);
  }

  li > a:hover,
  li > a:focus {
    color: white;
    text-decoration: underline;
    outline: 0;
  }

  li > a:active {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    color: rgb(233, 233, 233);
    height: fit-content;
    padding: 0.35rem 1.25rem;
    background-color: $navbar-btn-bg;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 3px;
    text-transform: inherit;
    transition: background-color ease-in-out 0.13s;
  }

  button:hover {
    background-color: #5a77a1;
  }

  button:active {
    background-color: #4b76b6;
  }

  .toggle-menu {
    position: absolute;
    top: 0.6rem;
    right: 1.15rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
  }

  span {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
  }
}

.nav-browse-container {
  grid-template-columns: 25% 75%;

  h2 {
    text-transform: uppercase;
  }

  .nav-browse-form {
    @include flex-column;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    transform: translateX(-15%);

    h3 {
      font-family: $main-font;
      font-size: 1.9rem;
      font-weight: 400;
      margin-bottom: 0.35rem;
    }
  }
}

@keyframes nav-load {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 450px) {
  .nav-home-container {
    .toggle-menu {
      display: flex;
    }

    li {
      display: none;
    }
  }

  .nav.active {
    display: block;
    padding-top: 0.005rem;

    li {
      display: block;
      padding-bottom: 0.2rem;
    }

    ul {
      flex-direction: column;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }
}

@media (max-width: 850px) {
  .nav-browse-container {
    grid-template-columns: 25% 75%;
  }
}

@media (max-width: 440px) {
  .nav-browse-container {
    grid-template-columns: 100%;

    h2 {
      display: none;
    }
  }
}
