/* Navbar styles */
$navbar-bg: #a565be;
$navbar-colour: white;
$navbar-btn-bg: #5d7caa;

/* Text/Font Styles */
$main-text-purple: #a565be;
$secondary-text-purple: #7b3c94;
$third-text-purple: #bb44eb66;
$main-text-red: #ff0095;
